In [8]:
import pandas as pd
import numpy as np
import pickle

In [4]:
data = pd.read_csv('data/table_pvp.csv', sep=';', encoding='utf-8')

In [5]:
data.head(3)

,win,power_1,power_2,tactics_1,tactics_2,formation_1,formation_2,strategy_1,strategy_2,pass_1,pass_2
0,0,260.4,261.9,7,27,5-3-2,3-5-2,дальние_удары,дальние_удары,дальние,дальние
1,1,140.3,124.9,4,3,3-4-3,3-4-3,дальние_удары,игра_в_пас,дальние,дальние
2,1,122.8,95.3,21,3,3-5-2,4-3-3,дальние_удары,дальние_удары,дальние,дальние

In [9]:
d = {x: k for k, x in enumerate(sorted(set(data['strategy_1'])))}
with open('dicts/strategy', mode='wb') as f:
    pickle.dump(d, f)
data['strategy_1'] = data['strategy_1'].apply(lambda x: d[x])
data['strategy_2'] = data['strategy_2'].apply(lambda x: d[x])

In [10]:
d = {x: k for k, x in enumerate(sorted(set(data['pass_1'])))}
with open('dicts/pass', mode='wb') as f:
    pickle.dump(d, f)
data['pass_1'] = data['pass_1'].apply(lambda x: d[x])
data['pass_2'] = data['pass_2'].apply(lambda x: d[x])

In [11]:
d = {x: k for k, x in enumerate(sorted(set(data['formation_1'])))}
with open('dicts/formation', mode='wb') as f:
    pickle.dump(d, f)
data['formation_1'] = data['formation_1'].apply(lambda x: d[x])
data['formation_2'] = data['formation_2'].apply(lambda x: d[x])

In [17]:
data.head(3)

,win,power_1,power_2,tactics_1,tactics_2,formation_1,formation_2,strategy_1,strategy_2,pass_1,pass_2
0,0,260.4,261.9,7,27,22,13,0,0,0,0
1,1,140.3,124.9,4,3,12,12,0,1,0,0
2,1,122.8,95.3,21,3,13,17,0,0,0,0

In [18]:
data.to_csv('data/data_normal.csv', index=False, sep=';', encoding='utf-8')

## Мешок слов

In [19]:
X_const = data.values[:, :5]
X_cat = data.values[:, 5:]

In [20]:
from sklearn.preprocessing import OneHotEncoder
X_cat = OneHotEncoder().fit_transform(X_cat)
X_cat = X_cat.todense()

In [21]:
X_ = np.hstack((X_const,X_cat))

In [22]:
df = pd.DataFrame(X_)

In [24]:
pd.options.display.max_columns = 100
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69
0,0.0,260.4,261.9,7.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1.0,140.3,124.9,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1.0,122.8,95.3,21.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,1.0,183.2,63.7,12.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,148.5,107.6,19.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0

In [25]:
df.to_csv('data/data_bag.csv', header=False, index=False, sep=';', encoding='utf-8')

## Идеи

In [5]:
data['power_1'] = data['power_1'].apply(lambda x: int(round(x)))
data['power_2'] = data['power_2'].apply(lambda x: int(round(x)))

In [ ]:
data['pow'] = data['power_1'] - data['power_2']
data['powA'] = (data['power_1'] + data['power_2']) / 2
del data['power_1']
del data['power_2']

In [ ]:
data['tac'] = data['tactics_1'] - data['tactics_2']
data['tacA'] = (data['tactics_1'] + data['tactics_2']) / 2
del data['tactics_1']
del data['tactics_2']